* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --tw-bg-orange-600: #ea580c;
  --tw-bg-slate-200: rgb(226 232 240);
  --tw-bg-slate-100: rgb(241 245 249);
  --tw-bg-sky-700: rgb(3 105 161);
  --tw-bg-blue-950: rgb(23 37 84);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hover Underline */
a {
  background: linear-gradient(0deg, var(--tw-bg-orange-600),  var(--tw-bg-orange-600)) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 300ms;
  /* Initially --bg-h: 100% but there's a bug from HashLink */
  --bg-h: 1%;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.underlining {
  padding-bottom: 2px;
  --bg-h: 2px;
}

a {
  color: inherit;
  line-height: 1;
}

/* Selection */
::selection {
  color: var(--tw-bg-orange-600);
  background-color: black;
  margin: 1rem;
}

/* Home */
.authorNameList {
  overflow: hidden;
}
.authorName {
  display: block;
  height: 100%;
  padding-left: 10px;
  animation: spin_words 12s infinite;
}
@keyframes spin_words {
  0% {
    transform: translateY(1%);
  }
  20% {
    transform: translateY(1%);
  }
  30% {
    transform: translateY(-95%);
  }
  50% {
    transform: translateY(-95%);
  }
  60% {
    transform: translateY(-195%);
  }
  80% {
    transform: translateY(-195%);
  }
  90% {
    transform: translateY(-195%);
  }
  100% {
    transform: translateY(-300%);
  }
}

.tech-container,
.about-me-container,
.connect-container {
  background: linear-gradient(145deg, var(--tw-bg-slate-100), var(--tw-bg-slate-200));
}
.experience-container {
  background: linear-gradient(35deg, var(--tw-bg-slate-100), var(--tw-bg-slate-200));

  /* background-color: whitesmoke; */
  /* background: linear-gradient(145deg, var(--tw-bg-sky-700), var(--tw-bg-blue-950)); */
}

/* Experience */
/* Parallax */
.parallaxAvensys {
    /* The image used */
    background-image: url("../public/MyImages/avensys.svg");

    /* Set a specific height */
    min-height: 20vh;
    /* max-width: 50vw; */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 32vh;
    /* background-size: cover; */
}
.parallaxJFS {
    /* The image used */
    background-image: url("../public/MyImages/certificate.png");

    /* Set a specific height */
    min-height: 20vh;
    /* max-width: 50vw; */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 42vh;
    /* background-size: cover; */
}
.parallaxRMIT {
    /* The image used */
    background-image: url("../public/MyImages/rmit.png");

    /* Set a specific height */
    min-height: 20vh;
    /* max-width: 50vw; */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: 32vh;
    /* background-size: cover; */
}
.parallaxSP {
  /* The image used */
  background-image: url("../public/MyImages/sp.png");

  /* Set a specific height */
  min-height: 20vh;
  /* max-width: 50vw; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: 32vh;
  /* background-size: cover; */
}

/* Overlapping Wrapper */
.rotated-container-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.rotated-container {
  width: 120vw; /* Set the desired width */
  height: 100%;
  transform: rotate(14deg);
  transform-origin: top left
}

/* Projects */
.blink {
  animation: blinker .75s linear infinite;
  /* color: red;
  font-family: sans-serif; */
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}

/* Connect */
/* Drawing animation */
line {
  stroke-width: 2px;
  stroke-linecap: round;
  fill: transparent;
}

/* Footer */
/* Marquee */
.marquee {
  position: relative;
  overflow: hidden;
  --offset: 20vw;
  /* Trial and error */
  --move-initial: calc(-24.8% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  white-space: nowrap;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: running;
}

.marquee__inner span {
  word-spacing: 0.75rem;
}

.marquee:hover .marquee__inner {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}
