* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --tw-bg-orange-600: #ea580c;
  --tw-bg-slate-200: rgb(226 232 240);
  --tw-bg-slate-100: rgb(241 245 249);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hover Underline */
a {
  background: linear-gradient(0deg, var(--tw-bg-orange-600),  var(--tw-bg-orange-600)) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 300ms;
  --bg-h: 100%;
}
a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.underlining {
  padding-bottom: 2px;
  --bg-h: 2px;
}

a {
  color: inherit;
  line-height: 1;
}

/* Home */
.authorNameList {
  overflow: hidden;
}
.authorName {
  display: block;
  height: 100%;
  padding-left: 10px;
  animation: spin_words 12s infinite;
}
@keyframes spin_words {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(-200%);
  }
  80% {
    transform: translateY(-200%);
  }
  90% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-300%);
  }
}

.tech-container {
  background: linear-gradient(145deg, var(--tw-bg-slate-100), var(--tw-bg-slate-200));
}